@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #61665f;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* header start */

.header {
  top: 0;
  background-color: black;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.hide3 {
  opacity: 0.8;
}
.show3 {
  opacity: 1;
}

.header {
  transition: all 0.3s;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .container ul li {
  display: inline;
  margin: 0 15px;
}

.header .container ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

.header .container ul li a:hover {
  color: #6dbd46;
  text-decoration: none;
}

/* header start */

/* poster and video start */

.topHeader {
  background: black;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.a {
  margin: 0 2%;
  position: relative;
}

.startdate {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  width: 25%;
  height: 12%;
}

.startdate p {
  color: white;
  text-align: center;
  margin: 0;
  font-family: Poppins;
  font-size: 2vw;
}

@media only screen and (min-width: 1120px) {
  .startdate p {
    color: white;
    text-align: center;
    margin: 0;
    font-family: Poppins;
    font-size: 20px;
  }
}

.posterbutton {
  position: absolute;
  color: white;
  bottom: 1.4%;
  background: #6dbd46;
  width: 35%;
  height: 7%;
  border-radius: 10px;
  left: 32%;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (max-width: 720px) {
  .posterbutton p {
    color: white;
    text-align: center;
    margin: auto 0;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
  }
}

.posterbutton:hover {
  background-color: #4caf50;
}

.b {
  margin: 0 2%;
  position: relative;
}

.phoneVideo {
  position: absolute;
  top: 9%;
  right: 6%;
}

.phoneVideo video {
  width: 98%;
  height: 98%;
}

@media only screen and (max-width: 970px) {
  .phoneVideo video {
    width: 97%;
    height: 97%;
  }

  .phoneVideo {
    position: absolute;
    top: 9%;
    left: 8%;
  }
}

/* poster and video end */

/* details start */

.content {
  float: right;
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

#indicator {
  position: fixed;
  left: 3%;
  width: 15%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#indicator ul {
  float: right;
  width: calc(100% - 16px);
  padding: 8px;
}

#indicator ul li {
  float: left;
  width: calc(100% - 16px);
  font-size: 15px;
  padding: 12px 8px;
  border-left-color: #6dbd46;
}

@media (max-width: 720px) {
  #indicator ul li {
    float: left;
    width: calc(100% - 16px);
    font-size: 11px;
    padding: 12px 8px;
    border-left-color: #6dbd46;
  }
}

@media (max-width: 575px) {
  #indicator ul li {
    float: left;
    width: calc(100% - 16px);
    font-size: 9px;
    padding: 12px 8px;
    border-left-color: #6dbd46;
  }
}

@media (max-width: 480px) {
  #indicator ul li {
    float: left;
    width: calc(100% - 16px);
    font-size: 7px;
    padding: 12px 8px;
    border-left-color: #6dbd46;
  }
}

#indicator ul li.spy-active {
  color: #6dbd46;
}

section.scrollspy {
  float: right;
  width: calc(60% - 48px);
  padding: 0 24px;
  background: white;
  border-radius: 10px;
  margin: 24px 20%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  direction: ltr;
}

section.scrollspy h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #454545;
}

@media (max-width: 761px) {
  section.scrollspy h2 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: calc(1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    color: #454545;
  }
}

section.scrollspy h3 {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 17px;
  padding: 6px;
  margin: 12px 0;
  color: #454545;
  border-left: 3px solid #6dbd46;
}

section.scrollspy p {
  font-size: 16px;
}

/* .joinbutton {
  color: white;
  background: #6dbd46;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 27px;
  border: none;
}

@media only screen and (max-width: 720px) {
  .joinbutton p {
    color: white;
    text-align: center;
    margin: auto 0;
    font-size: 3.7vw;
    font-family: 'Poppins', sans-serif;
  }
}

@media only screen and (max-width: 1000px) {
  .joinbutton {
    color: white;
    background: #6dbd46;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 27px;
    border: none;
  }
}

.joinbutton:hover {
  background-color: #4caf50;
} */

.joinbutton {
  position: absolute;
  left: 5%;
  position: fixed;
  background: #6dbd46;
  bottom: 33%;
  width: 10%;
  height: 7%;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.joinbutton p {
  color: white;
  text-align: center;
  margin: auto 0;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .joinbutton p {
    color: white;
    text-align: center;
    margin: auto 0;
    font-size: 2vw;
    font-family: 'Titillium Web', sans-serif;
  }
}

@media only screen and (max-width: 910px) {
  .joinbutton {
    position: absolute;
    left: 5%;
    position: fixed;
    background: #6dbd46;
    bottom: 25%;
    width: 10%;
    height: 7%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

@media only screen and (max-width: 860px) {
  .joinbutton {
    position: absolute;
    left: 5%;
    position: fixed;
    background: #6dbd46;
    bottom: 20%;
    width: 10%;
    height: 7%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

@media only screen and (max-width: 710px) {
  .joinbutton {
    position: absolute;
    left: 5%;
    position: fixed;
    background: #6dbd46;
    bottom: 23%;
    width: 10%;
    height: 7%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

@media only screen and (max-width: 580px) {
  .joinbutton {
    position: absolute;
    left: 5%;
    position: fixed;
    background: #6dbd46;
    bottom: 35%;
    width: 10%;
    height: 7%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.joinbutton:hover {
  background-color: #4caf50;
}

.finalbutton {
  transition: all 0.2s;
}

.bottomMenu {
  transition: all 0.2s;
}

.hide2 {
  opacity: 0;
}
.show2 {
  opacity: 1;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

/* details end */

/* start footer */

footer {
  width: 100%;
  float: left;
  height: auto;
  padding: 40px 0;
  background: #23282f;
}
.footer-logo {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 0 35px;
}
.copyright {
  width: 100%;
  float: left;
  height: auto;
}
.copyright p {
  margin: 0;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}

.privacy {
  width: 100%;
  float: left;
  height: auto;
}
.privacy p {
  margin: 0;
  font-size: 13px;
  line-height: 21px;
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* end footer */

/* sidebar start */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #6dbd46;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  color: #6dbd46;
  font-size: 20px;
}

.sidebar .closebtn:hover {
  color: #6dbd46;
}

.openbtn {
  cursor: pointer;
  background-color: #6dbd46;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}

#main {
  transition: margin-left 0.5s;
}

.show-on-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .show-on-mobile {
    display: block;
  }

  .show-on-desktop {
    display: none;
  }
}

/* sidebar end */
